/*-------------------------------------------
共通クラス
-------------------------------------------*/
@use 'setting' as s;
@use 'sass:math';

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.5;
    color: s.$colorBlack;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*-------------------------------------------
共通のパーツ
-------------------------------------------*/
/* ここから記述します。 */
/* 全体リセット */


body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: #333333;
  background: #f7fafc;
}



a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
